html, body {
	font-size:12px; 
	line-height:18px;
	height: 100%;
 }
body {background: #f9f9f9 url(https://i.pinimg.com/originals/8f/98/49/8f9849d736b3b28300eeaeeb81dea917.jpg);}

.main-container {
	height:auto; 
	height: 100%;
	min-height: 100%;
}



/***** Titles and Headings *****/
h1, h2, h3, h4 , h5, h6 {
    font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	text-transform:uppercase;
	font-weight: bold;

}

h5{
   font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	text-transform:uppercase;
	font-size: 26px;
    font-weight: bold;
}

h1, h2, h3, h4, h5 {text-align:center;}
h1.title-bg, h2.title-bg, h3.title-bg, h4.title-bg , h5.title-bg, h6.title-bg {
	background:#f8f8f8; 
	padding:10px 5px;
	border-bottom: 1px dotted #a9a9a9;
	border-top: 1px dotted #a9a9a9;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {color:#7f7f7f;}
h2 small {font-size: 30px;}
h5 small {font-size: 14px;}
h6 small {font-size: 12px;}

h5.title-bg button {
	float: right; 
	text-transform: none;
	margin-left:5px;
}

/***** Links *****/

/***** Misc *****/
i {margin-right: 3px;}
p {margin-bottom: 20px; }
blockquote {
	font-size:16px; 
	line-height:24px; 
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-style:italic;
	border-left: 5px solid #999;
}
blockquote.pull-right {border-right: 5px solid #999;}


/**************************************
/ Header
**************************************/
.logo { margin-top:40px; }
.logo img {padding-bottom:20px; }
.logo h5 { display: inline-block; }
.headline { margin-bottom:20px; }



.navigation { margin-top:50px; }
.navigation .navbar {
	float:right; background:#f8f8f8;
	border-bottom: 1px dotted #a9a9a9;
	border-top: 1px dotted #a9a9a9;
}
.navbar .nav > li > a {
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	text-shadow: none;
	text-transform:uppercase;
	font-size:12px;
	padding: 10px 15px 10px;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	color:#FFF;
	background-color:#d8450b;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  	color:#FFF;
	background-color:#d8450b;
}

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
.dropdown-menu{
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	text-transform:uppercase;
	font-size:10px;
	padding: 0px;
	margin: 0px;
	background-color: #383838;
	border: none;
	*border-right-width: none;
	*border-bottom-width: none;
	-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
	-webkit-background-clip: none;
     -moz-background-clip: none;
          background-clip: none;
}
.navbar .nav > li > .dropdown-menu:before {
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-bottom-color: none;
}
.dropdown-menu a {
	color: #ababab; 
	border-bottom:1px solid #474747;
	padding: 10px 10px;
	margin:0px 10px;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #f9f9f9;
  text-decoration: none;
  background-color: #383838;
  background-image: none;
  filter: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after {
  display: none;
}


/**************************************
/ Gallery
**************************************/
.gallery-title { margin-bottom:15px; }
.gallery-item { margin-bottom:15px; margin-top:15px; list-style:none; background-color:white; margin-right:90px; border: 2px solid black;}

.gallery-hover-6col,
.gallery-hover-4col,
.gallery-hover-3col,
.gallery-hover-4col-cir { 
	display:none; 
	background:url(../img/gallery-item-hover.png);
	position:absolute; 
	z-index: 10;
}
.gallery-hover-4col-cir{
	-webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}


.project-details {
	background:#f8f8f8;
	display: block;
	padding:10px;
	border-bottom: 1px dotted #a9a9a9;
	font-family: Georgia;
	font-style: italic;

	width: auto\9;
    height: auto;
    max-width: 100%;
}
.project-details a {
	margin: 0px; 
	font-size: 12px; 
	font-style: normal;
	text-shadow:none;
	display: block;
	font-family: "Oswald", sans-serif; 
	font-weight: normal;
	text-transform:uppercase; 
}
.project-details {color: #6f6f6f;}
.project-details a {color: #333333;}
.project-details a:hover {color:#d8450b; text-decoration: none;}

.project-info {margin: 0px 0px 40px 0px;}
.project-info li { 
	list-style: none; 
	border-bottom: 1px dashed #a9a9a9;;
	padding: 10px; }
.project-info li h6 {display: inline; margin-right: 5px;}

.gallery-icons {
	z-index: 9;
	position:absolute;
	bottom: 0px; 
	right: 0px;
	width: 89px;
	height: 42px;
	display: block;
}
a.item-zoom-link { 
	height: 42px;
	width: 42px;
	background: #ffffff url(../img/gallery-item-icons.png) no-repeat;
	background-position: 0px 0px;
	position:absolute;
	display: block;
}
a.item-details-link { 
	height: 42px;
	width: 42px;
	background: #ffffff url(../img/gallery-item-icons.png) no-repeat;
	background-position: -42px 0px;
	position:absolute; 
	left: 47px;
	display: block;
}
a.item-zoom-link:hover {background: #d8450b url(../img/gallery-item-icons.png) no-repeat;}
a.item-details-link:hover {background: #d8450b url(../img/gallery-item-icons.png) no-repeat; background-position: -42px 0px;}

.gallery-post-grid {margin:0px;}
.gallery-post-grid li {list-style: none; float: left; margin-bottom: 30px;}

.gallery-cats {margin: 0px 0px 20px 0px;}
.gallery-cats li{
	list-style: none; 
	float: left; 
	padding: 0px 10px;
	border-left: 1px dotted #a9a9a9;
}
.gallery-cats li:first-child{border-left:0px;}


.post-summary {background: #f8f8f8; padding-bottom: 20px; overflow: auto;}
.post-summary p {padding:20px; margin:0px;}
.post-summary-footer {margin: 0px; padding:0px 20px;}
.post-summary-footer button {margin: 0px; float:left;}
ul.post-data {float:right;}
ul.post-data-3 {margin-top:20px;}
ul.post-data li, ul.post-data-3 li {
	list-style: none; 
	float: left; 
	padding: 0px 10px;
	border-left: 1px dotted #a9a9a9;
}
ul.post-data li:first-child,
ul.post-data-3 li:first-child {border: none; padding-left: 0px;}
ul.post-data li:last-child {padding-right: 0px;}


/**************************************
/ Sidebar
**************************************/
.sidebar input{width: 80%;}
.sidebar h5 {margin-top: 40px;}
.sidebar ul.post-category-list,
.sidebar .tab-content .tab-pane ul {margin:0px;}
.sidebar ul.post-category-list li,
.sidebar .tab-content .tab-pane ul li {
	list-style: none; 
	border-bottom: 1px dashed #a9a9a9;
	padding:10px 5px;
}
.sidebar ul.post-category-list li a{
	font-family: "Oswald", sans-serif; 
	font-weight: normal;
	text-transform:uppercase; 
}
.sidebar ul.post-category-list li:first-child,
.sidebar .tab-content .tab-pane ul li:first-child{ padding-top: 0px; }
.sidebar ul.post-category-list li:last-child { padding-bottom: 0px; border-bottom:none; }
.sidebar ul.post-category-list li i {padding-right: 5px; background-position: 0 -95px;}
.sidebar .tab-content .tab-pane ul li i {padding-right: 5px;}

.popular-posts{ margin: 0px;}
.popular-posts li {
	list-style: none; 
	margin-bottom: 20px; 
	clear: both;
	display: block;
	min-height: 70px;
}
.popular-posts li a, 
.popular-posts li a:hover {color:#333333; text-decoration: none;}
.popular-posts li img {float: left; margin-right: 20px;}
.popular-posts li em {font-family:Georgia, "Times New Roman", Times, serif;}
p.side {margin-bottom: 20px;}

/**************************************
/ Footer
**************************************/
.footer-container {
	width:100%;
	background:#333;
	clear: both;
 	position: relative;
 	z-index: 10;
 	margin-top:40px;
}
.footer-row { margin-top: 30px;}
.footer-col {color:#ababab; font-size: 11px; padding-left:7h0px}
.footer-col a {color:#dcdcdc; font-weight: bold;}
.footer-col a:hover {color:#d8450b; text-decoration: none;}
.footer-col h5, .footer-col strong {color:#f9f9f9; text-shadow:none;}
.footer-col h5 {margin-bottom: 25px; font-size:18px;}
.footer-col ul {margin: 0px;}
.footer-col ul li {list-style: none; padding-bottom: 20px;}
.footer-col ul.post-list li {
	border-bottom: 1px dashed #504f4f;
	padding: 10px 0px;
}
ul.img-feed li {
	float: left;
	margin: 0px 7px 7px 0px;
	padding-bottom: 0px;
}
/**** Sub Footer ****/
.footer-sub {background: #1f1f1f; padding: 10px 0px;}
.footer-sub div div span {padding: 0px 30px;}


/**************************************
/ MISC
**************************************/
.row {margin-bottom:40px; margin-top:30px;}
.sub-row30 {margin-bottom:30px;}
.sub-row20 {margin-bottom:20px;}
.no-margin {margin-bottom:0px;}

a.accordion-toggle{background: #f5f5f5;}
.nav-tabs li.active a{background:#f8f8f8;}

.left {float: left;}
.right {float: right;}
.align-left{float: left; margin: 0px 20px 20px 0px; margin-top: 58px;}
.align-right{float: right; margin: 0px 0px 20px 20px;}

.color-bg { background:#d8450b; }
.color { color:#d8450b; }
.color-bar-1, .color-bar-2 { width:100% }
.color-bar-1 { background:#414141; height:5px; }
.color-bar-2 { height:3px; }
.page-header { margin:0px }
.lead {line-height:28px; margin: 20px 0px 30px 0px; }

#toTop {
	width:47px;
	height:47px;
	background:url(../img/back-top-btn.png) no-repeat;
	text-align:center;
	position:fixed;
	bottom:25px;
	right:20px;
	cursor:pointer;
	display:none;
	text-indent:-9999px;
	z-index:12; 
}

.separacionbottom{
    margin-left:25px;
}

.separacionfooter{
    padding-left:100px;
}
.divpedido{
    background-image: url("https://www.hdfondos.org/file/23415/728x410/16:9/componentes-electronicos_2147046004.jpg");
    width:100%;
    height: 300px;
    margin-top:30px;
    opacity:0.7;
}
.divpedido1{
    background-image: url("https://www.muycomputer.com/wp-content/uploads/2017/09/calor-1.jpg");
    width:49%;
    height: 300px;
    margin-top:30px;
    opacity:0.7;
    float:left;
    margin-right:10px;
    margin-bottom:20px;
}
.divpedido2{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/246/601/226/depth-of-field-blue-sea-dark-wallpaper-preview.jpg");
    width:49%;
    height: 300px;
    margin-top:30px;
    opacity:0.7;
    float:right;
    margin-bottom:20px;


}


.btnpedido{
   margin-top:125px;
   margin-left:500px;
   padding:18px;
   font-size: 18px;
   background: #f9f9f9 url(https://i.pinimg.com/originals/8f/98/49/8f9849d736b3b28300eeaeeb81dea917.jpg);
}
.btnpedido1{
   margin-top:125px;
   margin-left:170px;
   padding:18px;
   font-size: 18px;
   background: #f9f9f9 url(https://i.pinimg.com/originals/8f/98/49/8f9849d736b3b28300eeaeeb81dea917.jpg);
}
.btnpedido2{
   margin-top:125px;
   margin-left:230px;
   padding:18px;
   font-size: 18px;
   background: #f9f9f9 url(https://i.pinimg.com/originals/8f/98/49/8f9849d736b3b28300eeaeeb81dea917.jpg);
}

.btncrear{
    text-align:center;
    padding-top:30px;
}


.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
