<!DOCTYPE html>
{%load static %}
<html>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap" rel="stylesheet">
    <head>
        <link href= "{% static 'bootstrap.css' %}" rel="stylesheet">
        <link href= "{% static 'bootstrap-responsive.css' %}" rel="stylesheet">
        <link href= "{% static 'custom-styles.css' %}" rel="stylesheet">

        <meta charset="UTF-8">
    </head>

<body class="home">

    <div class="container">

      <div class="row header"><!-- Begin Header -->

        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
        	<a href="/../appProject/paginaprincipal.html"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/DC_Comics_logo.svg/1200px-DC_Comics_logo.svg.png"
                width="80px" alt="" /></a>
            <h5><a href="/../appProject/">Deustronic Components S.L</a></h5>
        </div>

        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
            <div class="navbar hidden-phone">

            <ul class="nav">
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/../appProject/productos">Productos <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/../appProject/productos">Todos los Productos</a></li>
                    <li><a href="/../appProject/producto/create">Añadir Producto</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/../appProject/componentes">Componentes <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/../appProject/componentes">Todos los Componentes</a></li>
                    <li><a href="/../appProject/componente/create">Añadir Componente</a></li>
                </ul>
            </li>
             <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/../appProject/clientes">Clientes <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/../appProject/clientes">Todos los Clientes</a></li>
                    <li><a href="/../appProject/cliente/create">Registrate</a></li>
                </ul>
             </li>
             <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/../appProject/pedidos">Pedidos <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/../appProject/pedidos">Todos los Pedidos</a></li>
                    <li><a href="/../appProject/pedido/create">Crear Pedido</a></li>
                </ul>
             </li>
            </ul>
            </div>
        </div>
      </div>
        <div>
            {% block contenido %}{% endblock %}
        </div>
    </div>
    <div class="footer-container2">
        <div>
            <div class="divpedido3">
                <a href="/../appProject/producto/create"></a>
            </div>

            <div class="divpedido4">
                <h4 style="font-weight: bold;">¡SUSCRÍBETE Y PARTICIPA!</h4>
                <p style="font-size: 12px;">Suscríbete para recibir las mejores ofertas y podrás ganar uno de los productos del pack MSI.</p>
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="nombre" placeholder="Nombre">
                    <input type="text" name="mail" placeholder="ejemplo@gmail.com">
                    <input class="suscribirbtn" type="submit" value="¡Suscribirme!">
                </form>
            </div>
        </div>
    <div class="footer-container"><!-- Begin Footer -->
        <div class="container">
        	<div class="row footer-row">
                <div class="span3 footer-col">
                    <h5>Sobre Nosotros</h5>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/DC_Comics_logo.svg/1200px-DC_Comics_logo.svg.png" width="50px" alt="Deustronic Components" /><br /><br />
                    <address>
                        <strong>Deustronic Components S.L</strong><br />
                        España, Vitoria-Gasteiz<br />
                        C/ Domingo Beltran, 7<br /><br>
                        945728465 / 682763475<br />
                    </address>

                    <!-- logo instagram, facebook y eso con link a sus paginas -->
                    <a href="https://www.instagram.com/?hl=es"><img width="30px" title="Pincha para accerder a Instagram"
                        src="https://upload.wikimedia.org/wikipedia/commons/5/58/Instagram-Icon.png"
                        alt="Imagen de Instagram"></a>
                    <a href="https://de-de.facebook.com/"><img width="30px" title="Pincha para accerder a Facebook"
                        src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png"
                        alt="Imagen de Facebook"></a>
                    <a href="https://twitter.com/?lang=de"><img width="35px" title="Pincha para accerder a Twitter"
                        src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-512.png"
                        alt="Imagen de Twitter"></a>
                    <a href="https://www.youtube.com/?gl=DE"><img width="35px" title="Pincha para accerder a YouTube"
                        src="https://images.vexels.com/media/users/3/137425/isolated/preview/f2ea1ded4d037633f687ee389a571086-youtube-icon-logo-by-vexels.png"
                        alt="Imagen de Youtube"></a>
                </div>
                <div class="span3 footer-col">
                    <h5>Ultimas Opiniones</h5>
                    <ul>
                        <li><strong>enekogaldos:</strong> Perfecto el trato y la calidad de sus productos!!</li>
                        <li><strong>jonzaton:</strong> En tan solo 4 dias ya tenia mi nuevo ordenador en casita, un trabajador acudio a mi casa a resolver los problemas de montaje. Unos fenómenos!</li>
                        <li><strong>yeraylamelas:</strong> No dudare en volver a comprar en esta tienda, increible trato y sobre todo calidad de los productos.</li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>Colaboradores</h5>
                     <ul class="post-list">
                        <li class="centrarcol"><a href="https://eshop.asus.com/es-ES/landing?gclid=EAIaIQobChMIiovh-fiD6QIVi8reCh16DAOiEAAYASAAEgKrW_D_BwE" title="Pagina oficial ASUS">ASUS</a></li>
                        <li class="centrarcol"><a href="https://es.msi.com/" title="Pagina oficial MSI">MSI</a></li>
                        <li class="centrarcol"><a href="https://www.acer.com/ac/es/ES/content/home" title="Pagina oficial ACER">ACER</a></li>
                        <li class="centrarcol"><a href="http://es.gigabyte.com/" title="Pagina oficial GIGABYTE">GIGABYTE</a></li>
                        <li class="centrarcol"><a href="https://www.apple.com/es/" title="Pagina oficial APPLE">APPLE</a></li>
                    </ul>
                </div>
                <div class="span3 footer-col">
                    <h5>UBICACIÓN</h5>
                        <iframe width="330px" height="230px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2925.0611398753945!2d-2.680173884894288!3d42.85044217915701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4fc26acee7b6db%3A0xdcee180d09adac21!2sCalle%20Domingo%20Beltran%2C%207%2C%2001012%20Vitoria-Gasteiz%2C%20%C3%81lava!5e0!3m2!1ses!2ses!4v1587830853621!5m2!1ses!2ses" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                </div>
            </div>

            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2020 Deustronic Components Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            <a href="/../appProject/paginaprincipal.html">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/../appProject/productos">Productos</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/../appProject/componentes">Componentes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/../appProject/clientes">Clientes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/../appProject/pedidos">Pedidos</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->
        </div>
    </div><!-- End Footer -->
    </div>


</body>
</html>
