 {% extends "base.html" %}
{%load static %}

{% block contenido %}
  <h2>{{ titulo_pagina }}</h2>
<div id="main-table" class="bodytable">
    <table>
        <thead>
        <tr>
            <th>CLIENTE</th>
            <th>CIF</th>
            <th>CONTACTO</th>
            <th>OPCIONES</th>
        </tr>
        </thead>
        <tbody>
    {% for cli in lista_clientes %}

        <tr class="classtr">
            <td>{{cli.nombre_empresa }}</td>
            <td>{{ cli.cif }}</td>
            <td>{{  cli.datos_contacto }}</td>
            <td> <a href="edit/{{ cli.id }}"><button class="separacionbottom">Editar</button></a>
            <a href="delete/{{ cli.id }}" onClick="return confirm('¿Seguro que quieres borrar a {{cli.nombre_empresa}}?');">
                <button class="separacionbottom">Borrar</button>
            </a>
            <a href="/../appProject/cliente/{{ cli.id }}"><button class="separacionbottom">Ver</button></a></td>
        </tr>

        {% endfor %}
         </tbody>
    </table>

</div>
{% endblock %}

