{% extends 'base.html' %}

{% block contenido %}

<form method="POST">
    <div class="div">
        <h2>{{ titulo_pagina }}</h2>
        <div>
           <strong>Codigo Referencia:</strong>
            <br>
            <input type="text" name="codigo_referencia" >
        </div>
        <br>
        <div>
           <strong>Nombre Modelo:</strong>
            <br>
            <input type="text" name="nombre_modelo" >
        </div>
        <br>
        <div>
           <strong>Marca:</strong>
            <br>
            <input type="text" name="marca" >
        </div>
        <br>
        <br>
         {% csrf_token %}
        <div>
            <input type="submit" value="Editar" />
        </div>
    </div>
</form>

{% endblock %}
