{% extends "base.html" %}


{% block contenido %}

    <div class="row">

        <!-- Gallery Items
        ================================================== -->
        <div class="span12 gallery-single">

            <div class="row">
                <div class="span6">
                    <img src="https://w7.pngwing.com/pngs/709/271/png-transparent-computer-icons-user-computer-icons-avatar-black-desktop-wallpaper-symbol.png" class="align-left thumbnail" alt="image">
                </div>
                <div class="span6">
                    <h2>{{ titulo_pagina }}</h2>
                    <p class="lead">For an international ad campaign. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>

                    <ul class="project-info">
                        <table>
                            <tr>
                                <td>ID</td>
                                <td>{{ componente.id }}</td>
                            </tr>
                            <tr>
                                <td>Nombre</td>
                                <td>{{ componente.nombre_modelo }}</td>
                            </tr>
                            <tr>
                                <td>Marca</td>
                                <td>{{ componente.marca }}</td>
                            </tr>
                        </table>
                    </ul>
                    <a href="/../appProject/componentes" class="pull-right"><i class="icon-arrow-left"></i><button>Listado Componentes</button></a>
                </div>
            </div>

        </div><!-- End gallery-single-->
    </div>


{% endblock %}


