{% extends "base.html" %}

{% block contenido %}
<div id="main-table" class="bodytable">
    <table>
        <thead>
        <tr>
            <th>REFERENCIA</th>
            <th>MODELO</th>
            <th>MARCA</th>
            <th>OPCIONES</th>
        </tr>
        </thead>
        <tbody>
    {% for com in lista_componentes %}

        <tr>
            <td>{{com.codigo_referencia}}</td>
            <td>{{ com.nombre_modelo }}</td>
            <td>{{  com.marca }}</td>
            <td> <a href="edit/{{ com.id }}"><button>Editar</button></a>
            <a href="delete/{{ com.id }}" onClick="return confirm('¿Seguro que quieres borrar a {{com.nombre_modelo}}?');">
                <button>Borrar</button>
            </a>
            <a href="/../appProject/componente/{{ com.id }}"><button>Ver</button></a></td>
        </tr>

        {% endfor %}
         </tbody>
    </table>

</div>
{% endblock %}
