{% extends "base.html" %}
{%load static %}

{% block contenido %}
  <h2>{{ titulo_pagina }}</h2>
<div id="main-table" class="bodytable">
    <table>
        <thead>
        <tr>
            <th>REFERENCIA</th>
            <th>MODELO</th>
            <th>MARCA</th>
            <th>OPCIONES</th>
        </tr>
        </thead>
        <tbody>
    {% for com in lista_componentes %}

        <tr class="classtr">
            <td>{{com.codigo_referencia}}</td>
            <td>{{ com.nombre_modelo }}</td>
            <td>{{  com.marca }}</td>
            <td> <a href="edit/{{ com.id }}"><button class="separacionbottom">Editar</button></a>

                <form action="">
                    <input  type="hidden" name="componente" value="{{com.id}}">
                    <button class="separacionbottom borrar_componete">Borrar</button></form>

            <a href="/../appProject/componente/{{ com.id }}"><button class="separacionbottom">Ver</button></a></td>
        </tr>

        {% endfor %}
         </tbody>
    </table>

</div>

    <script src="{% static 'javaScript/delete.js' %}"></script>

{% endblock %}

