{% extends "base.html" %}
{%load static %}


{% block contenido %}

<div class="carousel">
    <div class="carousel-inner">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <a href="/../appProject/productos"><img src="https://uidesign.gbtcdn.com/GB/images/others/top_brands/254988701%201200X300.jpg"></a>
        </div>
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <a href="/../appProject/productos"><img src="https://uidesign.gbtcdn.com/GB/image/brand/20190305_8144/1200x300-A6.jpg"></a>
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <a href="/../appProject/productos"><img src="https://www.ect.my/image/ectmy/image/cache/data/Dell%20Inspiron%2015%203565%20Notebook%201200%20x%20300-1200x300.jpg"></a>
        </div>
        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-1" class="carousel-control next control-3">›</label>
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div>

<div class="divpedido">
    <a href="/../appProject/pedido/create"><button class="btnpedido" >Realiza tu Pedido</button></a>
</div>
<div>
    <div class="divpedido1">
        <a href="/../appProject/producto/create"><button class="btnpedido1" >Personaliza tu producto</button></a>
    </div>

    <div class="divpedido2">
        <a href="/../appProject/cliente/create"><button class="btnpedido2" >Registrate</button></a>
    </div>
</div>


{% endblock %}
