{% extends 'base.html' %}

{% block contenido %}

<form action="{% url 'pedido_create' %}" method="post">
    {% csrf_token %}

    <input type="text" name="codigo_referencia" >
<input type="date" name="fecha">
<select name="datos_cliente" >
    {%for cliente in data.clientes%}
    <option value=""> {{cliente.nombre_empresa}}</option>
    {%endfor%}
</select>
<select name="productos_lista[]" multiple="" id="">
     {%for producto in data.productos%}
    <option value="">{{producto.nombre}}</option>
    {%endfor%}
</select>

    <input type="submit" value="Nuevo Pedido" />
</form>
<br>
<a href="{% url 'pedidos' %}">Volver a la lista</a>

{% endblock %}
